.search-bar {
  display: flex;
}

.search-input {
  border: 1px solid #555;
  border-radius: 6px 0 0 6px;
  background-color: #333;
  color: #e0e0e0;
  padding: 8px 12px;
  font-size: 0.9em;
  outline: none;
}

.search-button {
  padding: 8px 15px;
  border: 1px solid #646cff;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background-color: #646cff;
  color: white;
  cursor: pointer;
}